.row{
    padding: 10px;
    border-radius: 5px;
}
 .form{
     background-color: rgb(169, 231, 241);
     padding: 10px; 
     border-radius: 5px;
 }
 .form-group{
     padding: 0 5px;
 }
 label {
     padding: 0 5px;
 }

 .text-white{
     font-size: 25px;
 }

 .datalist{
     overflow: auto;

 }